.App {
    font-family: sans-serif;
    text-align: center;
  }
  input {
    /*padding: 1rem;*/
  
    width: 30%;
    color: blue;
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .recommend {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
  
    width: 20%;
    height: 60%;
  }
  
  .line {
    margin-top: 1rem;
    margin-left: 37rem;
    margin-right: 37rem;
  }
  